.row.triple-pad-top
    .one.half
        %code.block{:style => "height:300px; max-height:300px;overflow-y:scroll;"}
            %pre.code
                =preserve do
                    :escaped
                        window.onload = function(){

                          var contenedor = document.getElementById('canvas_container');
                          var paper = new Raphael(contenedor,600,300);
                          var red = paper.circle(30,30,10);
                          var blue = paper.circle(60,30,10);
                          var green = paper.circle(90,30,10);
                          var black = paper.circle(120,30,10);
                          var borrar = paper.ellipse(550,30,20,10);
                          var repeat = paper.ellipse(500,30,20,10);
                          var mousedown = false;
                          var color = 'black'
                          var width = 2
                          var path,pathString;
                          var arraypath = [];
                          var arraypathstring = [];

                          red.attr({fill:'red','stroke-width':2});
                          blue.attr({fill:'blue','stroke-width':2});
                          green.attr({fill:'green','stroke-width':2});
                          black.attr({fill:'black','stroke-width':2});

                          borrar.attr({fill:'white','stroke-width':2});
                          repeat.attr({fill:'purple','stroke-width':2});

                          red.node.onmouseover = function(){

                            red.animate({transform:'s1.2'},1000,'elastic');


                          }

                          red.node.onmouseout = function(){

                            red.animate({transform:'s1'},1000,'elastic');


                          }

                          red.node.onclick = function(){

                            color = 'red';


                          }

                          blue.node.onmouseover = function(){

                            blue.animate({transform:'s1.2'},1000,'elastic');


                          }

                          blue.node.onmouseout = function(){

                            blue.animate({transform:'s1'},1000,'elastic');


                          }

                          blue.node.onclick = function(){

                            color = 'blue';


                          }
                          green.node.onmouseover = function(){

                            green.animate({transform:'s1.2'},1000,'elastic');


                          }

                          green.node.onmouseout = function(){

                            green.animate({transform:'s1'},1000,'elastic');


                          }

                          green.node.onclick = function(){

                            color = 'green';


                          }

                          black.node.onmouseover = function(){

                            black.animate({transform:'s1.2'},1000,'elastic');


                          }

                          black.node.onmouseout = function(){

                            black.animate({transform:'s1'},1000,'elastic');


                          }

                          black.node.onclick = function(){

                            color = 'black';


                          }

                          borrar.node.onmouseover = function(){

                            borrar.animate({transform:'s1.2'},1000,'elastic');


                          }

                          borrar.node.onmouseout = function(){

                            borrar.animate({transform:'s1'},1000,'elastic');


                          }

                          borrar.node.onclick = function(){

                            for(i = 0; i < arraypath.length; i++ ){

                                arraypath[i].remove();
                            }


                          }

                          repeat.node.onmouseover = function(){

                            repeat.animate({transform:'s1.2'},1000,'elastic');


                          }

                          repeat.node.onmouseout = function(){

                            repeat.animate({transform:'s1'},1000,'elastic');


                          }

                          repeat.node.onclick = function(){

                            for(i = 0; i < arraypath.length; i++ ){

                              arraypath[i].remove();
                            }


                            for(i = 0; i < arraypathstring.length; i++ ){

                              path = paper.path();
                              path.attr({
                                'stroke': color,
                                'stroke-linecap': 'round',
                                'stroke-linejoin': 'round',
                                'stroke-width': width
                              }).toBack();

                              path.animate({path: arraypathstring[i]}, 2000);

                              arraypath[arraypath.length] = path;

                            }

                            arraypathstring.length = 0;

                          }





                          $(contenedor).mousedown(function(e){

                            mousedown = true;

                            var x = e.offsetX, y = e.offsetY;

                            pathString = 'M' + x + ' ' + y;
                            path = paper.path(pathString);
                            path.attr({
                              'stroke': color,
                              'stroke-linecap': 'round',
                              'stroke-linejoin': 'round',
                              'stroke-width': width
                            }).toBack();

                            arraypath[arraypath.length] = path;



                          });


                          $(contenedor).mouseup(function(e){


                            mousedown = false;

                          });

                          $(contenedor).mousemove(function(e){

                            if(!mousedown){

                              return;
                            }

                            var x = e.offsetX, y = e.offsetY;

                            pathString += 'L' + x + ' ' + y;
                            path.attr('path',pathString);

                            arraypathstring[arraypathstring.length] = pathString;



                          });


                        }



    .one.half
        #canvas_container{:style => "border: 1px black solid;"}

%script{:type => "text/javascript" , :src => "/js/raphael/ejemplo6.js"}
