.row.triple-pad-top
    .one.half
        %code.block
            <pre data-lang="html">&lt;code class=&quot;block&quot;&gt;
            &lt;pre&gt;%code {
            @extend %inline-block, %monospace;
            &amp;.block {
            @extend %block;
            }
            background: darken($background-color, 10%);
            padding: 0 0.3em;
            margin: 0 0.2em;
            font-weight: normal;
            line-height: inherit;
            }&lt;/pre&gt;
            &lt;/code&gt;</pre>

    .one.half
        %class
