.row.triple-pad-top
    .one.half
        %code.block{:style => "height:300px; max-height:300px;overflow-y:scroll;"}
            %pre.code
                =preserve do
                    :escaped
                        window.onload = function(){

                            var contenedor = document.getElementById('canvas_container');
                            var paper = new Raphael(contenedor,500,300);
                            var circle = paper.circle(150,150, 80);
                            var rect = paper.rect(300 , 65 , 150 , 150);

                            circle.attr({fill:'#ff0000'});
                            rect.glow({fill:'true',color:'#4ab1eb', opacity:1});


                        }


    .one.half
        #canvas_container

%script{:type => "text/javascript" , :src => "/js/raphael/ejemplo2.js"}
