.row.triple-pad-top
    .one.fifth
    .three.fifths
        %div{:class => "#{@color} box fadeInLeft animated"}
            %h1.responsive.black.museo-slab Ruta desconocida, ese ejemplo no se ha creado aun.
    .one.fifth
