.row.triple-pad-top
    .one.fifth
    .three.fifths
        %div{:class => "#{@color} box fadeInLeft animated"}
            %h1.responsive.black.museo-slab Help
            %p.black.museo-slab Para cualquier duda sobre el código o sugerencias enviar un mensaje a:
            %a.black.museo-slab.icon-male{:href => "/help"} sokartema@gmail.com
    .one.fifth
