.row.triple-pad-top
    .one.fifth
    .three.fifths
        .div{:class => "#{@color} box fadeInLeft animated"}
            %h1.responsive.black.museo-slab Bienvenidos a los ejemplos Raphaël JS
            %p.black.museo-slab En esta página me centraré en crear los máximos ejemplos posibles y con la maxima variedad. Pondré al lado de cada ejemplo el código en javascript, para que sea facilmente visualizable por cada usuario.
            %p.black.museo-slab Poco a poco iré subiendo mas ejemplos según vaya haciendolos y tenga tiempo.
            %cite.black.pull-right.museo-slab Jazer Abreu
            <br>
    .one.fifth
